@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}

/*===========*/
/*===CARDS===*/
/*===========*/

.cards {
  background-image: url(img/about-bg.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.box-cards {
  display: flex;
  text-align: center;
  padding: 0 10rem;
  color: white;
}

.alerts,
.lovely,
.always,
.one-click {
  padding: 0 2.5rem;
  line-height: 1.5rem;
}

.cards img {
  background-color: #f6c45c;
  padding: 1.3rem;
  border-radius: 50px;
  border: solid 2px white;
}

.cards .box-cards h2 {
  letter-spacing: 0.2rem;
  display: block;
  border-bottom: solid 1px rgb(253, 253, 253);
  line-height: 5.5rem;
  white-space: nowrap;
}

.cards .box-cards button {
  background-color: #3dc1cd;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  font-size: smaller;
  margin-top: 2rem;
  cursor: pointer;
}

/*===========*/
/*===Blog====*/
/*===========*/

/* Global */

.blog {
  display: flex;
  min-height: 70vh;
  background-image: url(img/blog-bg.jpg);
  background-size: cover;
}

.blog-left {
  width: 40%;
  display: flex;
  background-color: rgb(0, 0, 0, 0.4);
}

.blog-article {
  width: 60%;
}

/* Partie Gauche */

.blog-posts {
  color: white;
  width: 18rem;
  margin: 1rem auto;
  opacity: 1;
}

.post1,
.post2,
.post3,
.post4 {
  background-color: white;
  width: 15rem;
  text-align: center;
  padding: 2px;
  margin-bottom: 1.5rem;
}

.blog .blog-posts button {
  text-decoration: none;
  color: black;
  font-weight: lighter;
  border: none;
  cursor: pointer;
}

.blog .blog-posts button:hover {
  color: #f6c45c;
}

/* Partie Droite */
.blog-article {
  margin-top: 3rem;
}
.blog-article h1 {
  font-size: 1.1rem;
}

.blog-article img {
  width: 45rem;
}
.box-slider1,
.box-slider2,
.box-slider3,
.box-slider4 {
  visibility: hidden;
}

#slider1,
#slider2,
#slider3,
#slider4 {
  position: absolute;
  box-shadow: 1px 1px 1px;
  width: 45rem;
  background-color: white;
}
/* #slider1 {
  z-index: 3;
}

#slider2 {
  z-index: 4;
} */

.text-article {
  padding: 1rem 2rem;
}

.digital-blue {
  color: #33c1cf;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
